*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 600px;
    margin: 0 auto;
}
header{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .title{
    font-size: 25px;
    font-weight: bold;
    color: #7d7f80;
}
.nav ul{
    list-style: none;
}
.nav li{
    padding: 8px;
    margin: 0 3px;
    color: #337ab0;
    display: inline-block;
    border-radius: 5px;
}
.nav .active{
    background: #337ab0;
    color: #ecf0f1;
}
.content{
    width: 91%;
    background: #eeeeee;
    padding: 30px 25px;
    text-align: center;
}
.content .title{
    font-size: 40px;
    font-weight: bold;
    color: #323232;
}
.btn{
    background: #5db55e;
    color: #ecf0f1;
    border: none;
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
}
.options{
    width: 95%;
    margin: 20px auto;
    display: flex;
}
dl{
    width: 50%;
    margin-bottom: 30px;
}
dt{
    font-weight: bold;
}
dd{
    margin-inline-start: 0;
}
hr{
    border-color: #bdc3c72c;
}